@import 'variables/variables';
@import 'mixins/mixins';

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 77%;
  margin-left: 10px;
  position: absolute;
  overflow: auto;



  .title {
    @include text2($titleFontFamily, 26px, 700)
  }

}
